.dados-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-left: 120px;
    margin-right: 120px;
    max-width: 1200px;
    align-items: center;
}
.dados-titulo{
    color: #d4f0ff
}
.dados-container img {
    scale: 0.75;
    grid-row: 1;
}
.dados {
    backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  background-color: rgba(26, 26, 26, 0.45);


  border: 1px solid rgba(255, 255, 255, 0.1); 
  padding: 20px;
  color: white; 
}
@media(max-width:600px){
    .dados-container{
        margin-left: 0px;
        margin-right: 0px;
        grid-template-columns: 1fr;
    }
    .dados-container img{
        grid-row: 2;
    }

}