.rodape-container{
    display: grid;
    grid-template-columns:1fr 1fr;
    place-items: center;
    margin-left: 120px;
    margin-right: 120px;
    max-width: 1200px;
    
}
.rodape-container img {
    grid-column: 1;
    grid-row: 1;
    scale:1.5;
    
}
.rodape-container p , a {
    font-size: 1rem;
    text-align: center;
    color: gray;
    max-width: 21ch;
}
.rodape{
    background-color: #1a1a1a;
}
.rodape-container img, .rodape-container div {
    margin-top: 40px;
}
.rodape-container a {
padding: 20px;
text-decoration: underline;
}

@media(max-width:600px){
    .rodape-container{
        grid-template-columns: 1fr;
    }
    .rodape-container img {
        display: none;
    }
    .rodape-container {
        margin: 0px;
    }
}