
.cabecalho-container img {
    max-width: 100%;
    display: block;
    min-width: 100px;
}

.cabecalho-container {
    display: flex;
    justify-content: space-between;
    color: var(--cor3);
    margin-left: 120px;
    margin-right: 120px;

}
.cabecalho-container ul{
    display: flex;
    gap: 40px;
}
.cabecalho-container a {
max-height: 50.4px
}
.cabecalho-botao-secundario a {
    font-size: 1.25rem;
    position: relative;
    align-self: center;
}
.cabecalho-botao-secundario a::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--cor3);
    position: absolute;
    left: 0rem;
    bottom: 0rem;
    transform: scaleX(0);
    transition:  0.5s;
    transform-origin: left;

}
.cabecalho-botao-secundario a:hover::after{
        transform: scaleX(1);
        
  
}
.cabecalho-botao-principal a{
    display: inline-block;
    font-size: 1.25rem;
    background-color: var(--cor3);
    color: #D1E5DA;
    padding: 5px 10px;
    border-radius: 5px;
}
.cabecalho-botao-principal a:hover{
    background-color: var(--cor4);
    color: white;
}
@media(max-width:800px){
    .cabecalho-container {
    display: block;
    gap: 40px;
    justify-items: center;
    margin-left: 0px;
    margin-right: 0px;
}
.cabecalho-botao-secundario a{
    display: inline-block;
    font-size: 1.25rem;
    background-color: var(--cor3);
    color: #D1E5DA;
    padding: 5px 10px;
    border-radius: 5px;


}
.cabecalho-botao-secundario a::after{
    display: none;
}
    .cabecalho-container ul {
        display: block;
        justify-items: center;
        
    }
    .cabecalho-container ul li+li{
        margin-top: 20px;
    }
}
@media(max-width:600px){
    .cabecalho-container{
        margin-left: 0px;
        margin-right: 0px;
    }
}
@media(max-width:400px){
    .cabecalho-botao-principal , .cabecalho-botao-secundario {
        font-size: 0.75rem;
    }
    .cabecalho-botao-principal a{
    background-color: var(--cor3);
    color: #D1E5DA;
    padding: 2.5px 5px;
    border-radius: 5px;
}
    .cabecalho-container img {
    place-self: center;
    }
    .cabecalho-container ul {
        place-items: center;
    }
}
