.principal-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-left: 120px;
    margin-right: 120px;
}
@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.principal-titulo{
    position: relative;
    animation: fadeInUp 0.8s ease-out;
}
.principal-titulo::before{
content: "";
background-image: url(../../img/details/detalhe.svg);
position: absolute;
display: block;
top : 0px;
width: 50px ;
height: 75px;
scale: 0.75;
}
.principal-container img{
    justify-self: left;
    animation: fadeInUp 0.8s ease-out;

}

@media (max-width: 1000px){
    .principal-container{
        grid-template-columns: auto;
        text-align: center;
        gap:15px
    }
    .principal-container img {
        grid-row: 1;
        place-self: center;
    }
    .principal-titulo::before{
        display: none;
    }
    .principal-container h1 {
        font-size: 5rem;

    }
    .principal-titulo{
        margin-top: 0px;
    }
}
@media(max-width: 700px){
.principal-container h1{
        font-size: 2rem;
        place-self: center;
    }
}
@media(max-width: 600px){
    
    .principal-container{ 
        place-items: center;
        margin-left: 0px;
        margin-right: 0px;}}
    