.cor-1{
    color:#334556
}
.cor-2{
    color:#575757
}
.cor-3{
    color:#253626
}
.cor-4{
    color:#657568
}
.cor-5{
    color:#6E9674
}
.cor-6{
    color:#E0F7FA
}
.cor-7{
    color: #2E7D32;
}
.cor-8{
    color:white;
}
:root{
    --cor1: #334556;
    --cor2: #575757;
    --cor3: #253626;
    --cor4: #657568;
    --cor5: #6E9674;
    
}