.t-titulo-p{
font-family: 'Red Hat Display' , sans-serif;
font-weight: 400;
font-size: 4rem;
}
.t-titulo-s{
font-family: 'Red Hat Display' , sans-serif;
font-weight: 400;
font-size: 6rem;
}
.t-paragrafo{
font-family: 'Red Hat Display' , sans-serif;
font-weight: 400;
font-size: 1.25rem;
}
.t-titulo-p{
font-family: 'Red Hat Display' , sans-serif;
font-weight: 400;
font-size: 4rem;
text-align: center;
}

@media(max-width:800px){
    .t-titulo-s{
        font-size: 1.5rem;
}
    .t-paragrafo{
        font-size: 1rem;
    }
}
@media(max-width:400px){
    .t-paragrafo {
        font-size: 0.75rem;
    }
}
@media(max-width:1025px){
    .t-titulo-p{
        font-size:2rem;
    }
}