.final{
    display: none;
    grid-template-columns: 1fr 1fr;
    margin-right: 120px;
    margin-left: 120px;
    max-width: 1200px;
}
.avaliacao{
    margin: 0px;
}
.avaliacao_nota{
    margin: 5px;
}
.avaliacao_container{
    justify-items: center;
    text-align: center;
}
.imagem_avaliacao {
    place-self: center;
}
.botao_voltar{
    border-radius: 5px;
  background-color: var(--cor4);
  border: none;
  justify-self: center;
  cursor: pointer;
  padding: 5px 10px;
  color: white;
  grid-column: 3/-3;
  margin-top: 10px;
}
.botao_voltar:hover{
      background-color: #505f4f;
}

@media(max-width:900px){
    .imagem_avaliacao{
        display: none;
    }
    .avaliacao_frase {
        max-width: 300px;
    }
    .final{
        grid-template-columns: 1fr;
    }
    .botao_voltar{
         grid-column: initial;
    }
    
}
@media (max-width:400px){
    .final{
        margin:0px;
    }
    .avaliacao_frase {
        max-width: 200px;
    }
}